<article>
  <form action="/login" method="post">
    <header>
      <h1>Login</h1>
    </header>
    <input type="email" name="email" placeholder="Correo" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <footer>
   <div><a href="/register" role="button">Crear cuenta</a>
    <a href="/sessions/github" role="button">Registrarse con Github</a>
    <a href="/recovery-password" role="button">Recuperar contraseña</a>

    <hr></div> 
      <input type="submit" value="Enviar">

    </footer>
  </form>
</article>