<h1 class="h1-home">Lista de Productos:</h1>
<ul id="ul-websocket">
    {{!-- ACA SE AGREGA LA LISTA POR WEBSOCKET --}}
</ul>
<button
              type="button"
              id="btnAddProduct"
              class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >Add product</button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>